html {
    overflow-y: auto;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    overflow: inherit;
    user-select: none;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url('../images/terminal.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; padding:0;
    background-attachment: fixed;
    width: 100%;
    background-position: center;

}
nav{
    margin-top: 0;
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    font-size: 18px;
    background: #063247;
    transition: .5s;
    text-align: center;
}

nav ul li a:hover,
nav ul li a.active{
    color: #23dbdb;
}
nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}
nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
}
nav ul ul li a{
    line-height: 50px;
    font-size: 14px;
}
nav ul ul ul{
    border-top: none;
}
nav ul li ul li{
    width: 150px
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}
nav ul ul li a i{
    margin-left: 45px;
}

main{
    flex-grow: 1;
    width: 90%;
    padding: 50px;
}
/*footer{*/
/*    background: #063247;*/
/*    font-size: 15px;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    color: #ffffff;*/
/*    !*margin-top: auto;*!*/
/*    bottom: 0;*/
/*    width: 100vw;*/
/*}*/
.container{
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #063247;
    padding: 20px 0;
    margin-top: auto;
    bottom: 0;
    width: 100vw;
}
.footer-col{
    width: 15%;
    padding: 10px 70px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
