html {
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    overflow: inherit;
    user-select: none;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url('../images/terminal.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    width: 100%;
    background-position: center;

}

nav {
    z-index: 1;
    position: relative;
    margin-top: 0;
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    font-size: 18px;
    background: #063247;
    transition: .5s;
    text-align: center;
}

nav ul li a:hover,
nav ul li a.active {
    color: #23dbdb;
}

nav ul ul {
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

nav ul ul li {
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
}

nav ul ul li a {
    line-height: 50px;
    font-size: 14px;
}

nav ul ul ul {
    border-top: none;
}

nav ul li ul li {
    width: 150px
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

nav ul ul li a i {
    margin-left: 45px;
}

main {
    flex-grow: 1;
    width: 90%;
    padding: 50px;
}

/*footer{*/
/*    background: #063247;*/
/*    font-size: 15px;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    color: #ffffff;*/
/*    !*margin-top: auto;*!*/
/*    bottom: 0;*/
/*    width: 100vw;*/
/*}*/
.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #063247;
    padding: 20px 0;
    margin-top: auto;
    bottom: 0;
    width: 100vw;
}

.footer-col {
    width: 15%;
    padding: 10px 70px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/*sign-up styling*/
.reg-container {
    display: block;
    justify-content: center;
    width: 390px;
    height: 700px;
    background-color: #ffffff;
    margin: auto;
    border: solid #063247;
    border-radius: 1%;
    text-align: center;
    padding: 2rem 6rem;
    position: relative;
}

.sign-up-form {
    margin-top: 2rem;
}

.form-field {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    border: 1.5px solid #063247;
    border-radius: 1%;
}

.form-field label {
    background-color: #042331;
    padding: 0.7rem;
    width: 25px;
}

.form-field .form-input {
    flex: 1;
    width: 99%;
    padding: 0.5rem;
    border: none;
}

.form-field span {
    size: 15px;
    padding-left: 10px;
    padding-top: 12px;
    padding-right: 10px;
}

.form-field input:focus {
    background-color: #063247;
    color: white;
    transition: color .2s, background-color .2s;
}

.form-field input:hover {
    background-color: #063247;
    color: white;
    transition: color .2s, background-color .2s;
}

.form-field select:focus {
    background-color: #063247;
    color: white;
    transition: color .2s, background-color .2s;
}

.form-field select:hover {
    background-color: #063247;
    color: white;
    transition: color .2s, background-color .2s;
}

.login-button {
    background-color: #042331;
    margin: 2rem auto auto;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button:hover {
    background-color: #e91e63;
    transition: background-color .2s;
}

.login-button span {
    color: white;
}

.reg-container a {
    color: #042331;
}

.reg-container .login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #6f6f6f;
    margin-top: 30px;
}

.reg-container-login {
    display: block;
    justify-content: center;
    width: 390px;
    height: 390px;
    background-color: #ffffff;
    margin: auto;
    border: solid #063247;
    border-radius: 1%;
    text-align: center;
    padding: 2rem 6rem;
    position: relative;
}

.reg-container-main {
    display: block;
    justify-content: center;
    width: 90%;
    height: 150%;
    background-color: #ffffff;
    margin: 30px 50px 40px auto;
    border: solid #063247;
    border-radius: 1.5%;
    text-align: center;

    position: relative;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 1000px;
    margin: 30px auto;
}

.styled-table thead tr {
    background-color: #063247;
    color: #ffffff;
    text-align: left;
}

.styled-table th, td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #063247;
}

/* admin landing page*/
.landing-container {
    text-align: center;
}

.admin-panel {
    text-align: center;
    margin-top: 1rem;
}

.admin-panel .admin-option {
    width: 300px;
    background-color: white;
    margin: 1.5rem;
    margin: 2rem;
    border: solid #063247;
    border-radius: 1%;
    padding: 1.5rem;
    /*padding: 2rem;*/
    display: inline-block;
    transition: transform .2s;
}

.admin-panel .admin-option:hover{
    transform: scale(1.05);
    /*transform: scale(1.1);*/
}

.admin-panel img {
    margin: 1rem;
    height: 230px;
}

.admin-panel h2 {
    color: #063247;
}

.admin-panel .container input {
    margin: 1rem;
}

.admin-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    margin: 2rem auto auto;
    border: solid #063247;
    border-radius: 1%;
    text-align: center;
    padding: 3rem 3rem;
    position: relative;
}

.admin-container .form-input {
    flex: 1;
    width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px #063247 inset;
}

.admin-container .field-left {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.admin-container .image-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-container .image-right img{
    height: 280px;
}

#add-airport-button{
    width: 200px;
}

#add-flight-company-button{
    width: 200px;
}

#add-admin-button{
    width: 150px;
}

.table-title{
    display: flex;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    justify-content: space-between;
}

.table-title button{
    background-color: #042331;
    width: 100px;
    height: 40px;
    color: white;
}

.table-title button:hover{
    background-color: #e91e63;
    transition: background-color .2s;
}

.profile{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 3.5px solid #063247;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile label{
    margin-top: 42%;
    color: white;
}

.profile img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0;
}

.profile:hover{
    background-color: #23dbdb;
}
